:root {
  --heightHeader: 4rem;
  // Colors palette 4
  --backgroundColorLight: #f9f9f9;
  --backgroundColorDark: #181818;
  --mainColorDark: rgb(250, 250, 252);
  --headerColor: #000000;
  --paragraphColor: #94a1b2;
  --headlineColor: #fffffe;
  --highlightColor: #7f5af0;
  --tertiaryColor: #2cb67d;
  --strokeColor: #010101;
  &.light{
    
  }
}
