:root {
  --heightHeader: 4rem;
  // Colors palette 4
  --backgroundColor: #f9f9f9;
  --headerColor: #0f172a;
  --paragraphColor: #94a1b2;
  --headlineColor: #fffffe;
  --highlightColor: #7f5af0;
  --tertiaryColor: #2cb67d;
  --strokeColor: #010101;
}
