// BASE
@use './sass/base/_reset.css';
@use './sass/base/typography.scss';
// UTILITIES
@import './sass/utilities/mixins';
@import './sass/utilities/variables';
@import './sass/utilities/helpers';
// COMPONENTS
@import './sass/layout/header';
@import './sass/components/categories.scss';
@import './sass/components/hero.scss';

@import './sass/components/card.scss';

@import './sass/components/table.scss';
@import './sass/components/imageEditor';
@import './sass/components/cardMovieSkeleton'; // Views
@import './sass/components/mediaMovie';
@import './sass/components/searcher';
@import './sass/components/loader';
@import './sass/components/imageNotAvailable';
@import './sass/components/alert';
@import './sass/components/similarsItems';

// PAGES
@import './sass/views/homePage';
@import './sass/views/dashboardPage';
@import './sass/views/itemsPage';
@import './sass/views/itemPage';
@import './sass/views/loginPage';
@import './sass/views/updateJewelry';
@import './sass/views/createItem';
@import './sass/views/notFoundPage';


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--paragraphColor);
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlightColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--highlightColor);
}

// background: rgb(15, 23, 42);

body {
}

.no-scroll {
  overflow: hidden;
}
