.home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem;
  padding-top: var(--heightHeader);
  color: black;
  &--loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  &__latest-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &--loading {
      min-height: 20rem;
      justify-content: space-around;
    }
  }

  &__bottom {
    @include disflex(column, center, inherit, 2rem);
  }
  @include responsive-max("md"){
    gap: 1.5rem;
    &__bottom{
      gap: 1.5rem;
    }
  }
    @include responsive-max("sm"){
    gap: .5rem;
    &__bottom{
      gap: 1rem;
    }
  }


}
