.movie-credits-page {
  padding-top: var(--heightHeader);
  min-height: 100vh;
}
.movie-credits {
  padding: 2rem;
  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  &__movie {
    display: flex;
    align-items: center;
    gap: 1rem;
    &-text {
      @include disflex(column, center, start, 0.5rem);
      &-title {
        font-size: 1.5rem;
        font-weight: 600;
        transition: color 0.5s ease;
        &:hover {
          color: var(--highlightColor);
        }
      }
      &-back {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
      }
    }
    &-poster {
      max-width: 4rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
  &__cast-crew {
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  &__cast {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &-title {
      font-weight: bold;
    }
    &-column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &-row {
      display: flex;
    }
    &-left {
      max-width: 5rem;
      height: 5rem;
      border-radius: 1rem;
      overflow: hidden;
      background-position: center;
      cursor: pointer;
    }
    &-left:hover &-img {
      scale: 1.2;
    }
    &-img {
      transition: scale 0.6s ease-in-out;
      width: 100%;
    }
    &-right {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
    }
    &-original-name {
      font-weight: 600;
      transition: color 0.5s ease;
      &:hover {
        cursor: pointer;
        color: var(--highlightColor);
      }
    }
    &-character {
      color: var(--paragraphColor);
    }
    @include responsive-max(sm) {
      &-column {
        gap: 1.5rem;
      }
      &-row {
        flex-direction: column;
        gap: 0.5rem;
      }
      &-left {
        max-width: 4.5rem;
        height: 4.5rem;
      }
      &-right {
        padding: 0;
      }
      &-original-name {
        font-size: 0.9rem;
      }
      &-character {
        font-size: 0.85rem;
      }
    }
  }
  &__crew {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &-title {
      font-weight: bold;
    }
    &-column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &-row {
      display: flex;
    }
    &-left {
      max-width: 5rem;
      height: 5rem;
      border-radius: 1rem;
      overflow: hidden;
      background-position: center;
      cursor: pointer;
    }
    &-left:hover &-img {
      scale: 1.2;
    }
    &-img {
      transition: scale 0.6s ease-in-out;
      width: 100%;
    }
    &-right {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
    }
    &-original-name {
      font-weight: 600;
      transition: color 0.5s ease;
      &:hover {
        cursor: pointer;
        color: var(--highlightColor);
      }
    }
    &-character {
      color: var(--paragraphColor);
    }
    @include responsive-max(sm) {
      &-column {
        gap: 1.5rem;
      }
      &-row {
        flex-direction: column;
        gap: 0.5rem;
      }
      &-left {
        max-width: 4.5rem;
        height: 4.5rem;
      }
      &-right {
        padding: 0;
      }
      &-original-name {
        font-size: 0.9rem;
      }
      &-character {
        font-size: 0.85rem;
      }
    }
  }
}

// .movie-media {
//   padding-top: var(--heightHeader);
//   &__content {
//     padding: 2rem;
//     // width: 100%;
//     // max-width: 1440px;
//     // margin: auto;
//   }

//   &__title {
//     font-size: 1.2rem;
//     font-weight: bold;
//     padding-bottom: 1rem;
//   }
